.select {
  padding: 3px 18px 3px 5px;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  appearance: none;
  background-image: url(../images/icons/arrow.svg);
  background-size: 16px 18px;
  background-position: 95% 50%;
  background-repeat: no-repeat;
}
