.table {
  width: 100%;
  border-collapse: collapse;
  thead th,
  tbody td {
    background-color: var(--light-color);
    color: var(--color-text);
  }
  thead th {
    font-weight: 500;
    padding: 10px;
    text-align: left;
  }
  tbody td {
    padding: 10px;
    border-top: 1px solid var(--gray-light);
  }
}
